#err{
	background-color: rgba(0,0,0,3);
}
#log{
	background-image: url(fonds.jpg);
}
#loge{
	background-image: url(fonde.jpg);
}

.pagination ul, .pagination ul li {
	padding: 0;
	margin: 0;
  }
  
  .pagination ul li {
	display: inline-block;
	margin-bottom: 4px;
  }
  
  .pagination ul li a, .pagination ul li span {
	text-align: center;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	border: 3px solid #6a6f8c;
  }
  
  .pagination ul li.active a, .pagination ul li.active span {
	background: #f23a2e;
	color: #fff;
	border: 1px solid transparent;
  }
  
#menu{
	width: 205px;
	background-color: #c8c8c8;
	color: black;
}
body{font-family: sans-serif; background:#191919;}
.bubble-text{background:#139ee0; color:#fff; padding:7px 15px; border-radius:3px; width:350px;}

.bubble-text::after{
content:""; 
border-left:20px solid transparent;
border-right:20px solid transparent;
border-top: 20px solid #139ee0;
position: absolute;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}
input
{
	border-radius: 10%;
}
#in{
	height: 30px;
}
tr{
	text-align:center;
}
#te{
	width: 70%;
	margin-left: 250px;
}
table{
	width: 30%;
	margin-left: 550px;
}
th{
	height: 40px;
	font-size: 20px;
}
td{
	height:40px;
}
h1{
	text-align: center;
}
input{
	height: 25px;
}
button{
	/* background-color: #1161ee; */
	color: white;
	background-color: #6a6f8c;
	font-weight: bold;
	width: 150px;
	height: 35px;
	border-radius: 10%;
}
#ajout{
	text-align: center;
}
#logos{
	margin-left: 660px;
	width: 200px;
}
#logo{
	width: 250px;
	margin-top: 250px;
	margin-left: 65px;
}
body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin-left: 500px;
	margin-top: 50px;
	max-width:525px;
	min-height:630px;
	position:relative;
	border-radius: 25px;
	background:url(fonde.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;

	padding:90px 70px 50px 70px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#6a6f8c;
	opacity: 70%;
	margin-top: -10px;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	border-radius:25px;
	background:white;
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	-webkit-transform:rotate(0);
	        transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
.monerror{
	color: red;
}